venv/
__pycache__/
tmp/
train.log
checkpoint_model.pth
test_input3.mp4
.*
*Zone.Identifier

dev/train/train_data/athlete_masks
dev/train/train_data/masks
train_data.npz

dev
dist
src/bar_tracking_cluffa.egg-info