venv*/
__pycache__/
tmp/
train.log
checkpoint_model.pth
test_input3.mp4
.test*
.eggs
*Zone.Identifier

data.bson

dev/train/train_data
dev/train/*.pth
dev/train/*.onnx
dev/test/test_gifs
dev/test/videos
train_data.npz
test_input*.mp4
dist
*.egg-info
.pytest_cache